body{background-color: rgb(241, 231, 231);
    cursor: move;
}
nav{
background-color: rgb(230, 54, 83);color:white;
padding: 10px;margin: 10px;
text-align:center 

}

h2{ background-color: rgb(247, 248, 249); color: rgb(241, 72, 137);
text-align :30px;

}
#home-image{
display:inline;
height: 700px;
width: 800px;

;
}
button{
background-color:rgb(243, 74, 102);
position:center;
}
#one{
    background-color: aliceblue;
     margin: 100px;
}
#two{
background-color: aliceblue;
margin: 20px;
}
:hover{
}



#para one{
font: size large; 
margin: 25px;
padding-left: 20px;
text-align:start ;
}
 



.inner,.outer{ font-size: 25px;
    float: left;
color: rgb(72, 68, 68);
width: 800px;
height: 150px;
margin: 50px;
}
h1{


    
}



        





